nav {
    display: flexbox;
    background: rgb(156, 214, 230);
    font-size: 20px;
    border-radius: 2%;
    font-family: Comfortaa;
    align-items: center;
}

.top {
    margin: 10px 20px;
}

body {
    margin: 0px;
    text-align: center;
    background: rgb(204, 255, 255);
}

.heading {
    font-size: 40px;
}

p {
    font-size: 18px;
    line-height: 25px;
}

div {
    position: fixed;
    left: 50%;
    margin-left: -640px;
}

.top:visited,
.top:link {
    text-decoration: none;
    background-color: rgba(208, 143, 170);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4%;
}

#pp {
    margin-top: 70px;
}